.dashboard {
  display: flex;
  height: 100vh;
    overflow: hidden;
}
.dashboard-content {
  flex: 1;
  overflow-y: auto;
  padding: var(--spacing);
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  box-sizing: border-box;
}
/* Botón hamburguesa */
.hamburger {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  background-color: #ffffff71 ;
  border: none;
  font-size: 1.75rem;
  padding: 0.5rem;
  color: var(--primary-color);
  z-index: 1000;
  cursor: pointer;
}

/* Ocultar hamburguesa en desktop */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.dashboard-content {
  width: 80%;
  padding: var(--spacing);
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-y: auto;
}
