:root {
  --primary-color: #110236;
  --secondary-color: #d8d4d4;
  --terciary-color: #4b395c;
  --background-color: #150d22;
  --text-color: #a7a7a7;
  --font-family: 'Segoe UI', sans-serif;
  --border-radius: 5px;
  --spacing: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  height: 100vh;
}