.list-tasks {
  padding: 1rem;
  color: var(--text-color);
  background-color: var(--background-color);
  min-height: 100vh;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  gap: 1rem;
}
